/***generalstyles*****/
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border: none;
  background-color: transparent;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  border: none;
}
.custom-box {
  width: 1160px;
  margin-inline: auto;
}
.outer {
  width: 100%;
  max-width: 1600px;
  margin-inline: auto;
}
.custom-box {
  width: 1160px;
  margin-inline: auto;
}
/***fonts*****/
@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  color: #333b41;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.btn,
.btn:link,
.btn:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  background-color: #f9804b;
  color: #ffffff;
  width: 298px;
  height: 54px;
}

.btn:hover {
  background-color: #e47209;
}

.btn:active {
  background-color: #4b9200;
}

.btn_pill {
  border-radius: 25px;
}

.btn_rounded {
  border-radius: 5px;
}

.slide-btn {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  font-size: 20px;
  background-color: #f9804b;
  color: #ffffff;
  position: absolute;
}
.slide-btn:hover {
  background-color: #e47209;
}
.slide-btn:active {
  background-color: #4b9200;
}
.slide-btn_prev {
  bottom: 50%;
  transform: translateY(-50%);
  left: -80px;
}
.slide-btn_next {
  bottom: 50%;
  transform: translateY(-50%);
  right: -80px;
}

.submit-btn {
  cursor: pointer;
  background-color: #f1f3f2;
  color: #000000;
  font-size: 16px;
  border: 1px solid #333b41;
  border-radius: 5px;
  padding: 10px 40px;
}
.submit-btn:active {
  color: #4b9200;
  border: 1px solid #4b9200;
}

/*************header**************/
.logo-header {
  margin-right: 63px;
}

.header {
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: #000000;
  color: #ffffff;
  font-weight: 500;
}
.header .custom-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding: 16px 0;
}
.header-c {
  margin-left: auto;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.item {
  margin-right: 56px;
}

.navbar .active {
  color: #f9804b;
}
/*************watch*************/
.watch {
  color: #ffffff;
  text-transform: uppercase;
  background-image: url("../../assets/images/Giant\ Panda.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 84px;
  padding-bottom: 100px;
}
.watch .custom-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.box-watch {
  text-align: center;
  width: 465px;
}
.title-watch {
  position: relative;
  font-size: 106px;
  line-height: 75%;
  margin-bottom: 60px;
  z-index: 1;
}
.watch .circle {
  display: inline-block;
  width: 465px;
  height: 465px;
  background-color: #f9804b;
  border-radius: 50%;
  position: absolute;
  left: -73px;
  bottom: 10px;
  z-index: -1;
}
.watch .text-yellow {
  color: #ffee2e;
}
.watch button {
  margin: 0 auto;
  font-weight: 500;
}

/*************backstage*************/
.backstage {
  position: relative;
  padding-top: 140px;
}
.backstage .custom-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.backstage-flower {
  position: absolute;
  right: 0;
  bottom: -100px;
}
.backstage-right {
  width: 465px;
}
.backstage-right h3 {
  font-weight: normal;
  font-size: 48px;
  margin-bottom: 20px;
}
.backstage-right h4 {
  font-weight: normal;
  font-size: 24px;
  margin-top: 54px;
  margin-bottom: 34px;
}

/***************cards****************/
.cards {
  padding-top: 180px;
  padding-bottom: 100px;
  position: relative;
}
.cards .custom-box {
  position: relative;
}
.list-of-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: 80px;
}
.cards .btn {
  margin: 0 auto;
}

.cards .pattern-left {
  position: absolute;
  bottom: 0;
  left: 0;
}
.cards .pattern-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

.card {
  border: 1px solid #fe9013;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  width: 30%;
}
.card .card-text {
  padding: 8px 14px 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card .card-content:hover img {
  transform: scale(1.1);
  transition: 0.5s ease-in;
}
.card .card-content:hover .card-text img {
  display: none;
}
.card .card-content:hover .card-text {
  justify-content: center;
  align-items: flex-start;
  text-align: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  opacity: 0.5;
  color: #ffffff;
  transition: 0.3s linear;
}

.card-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}
.card-desc {
  font-size: 16px;
}
.footer {
  background-color: #111115;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 50px;
}
.footer .custom-box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.footer .btn {
  margin-top: 68px;
  margin-bottom: 44px;
}
.footer .navbar {
  align-self: flex-end;
}
.footer__right {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .author {
  align-self: flex-end;
}
.footer .designer {
  margin-bottom: 10px;
}
.footer h3 {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 14px;
}
.footer form {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.footer input[type="email"] {
  width: 228px;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #f9804b;
  border-radius: 2px;
  color: #ffffff;
  font-size: 16px;
  outline: none;
}
.footer input[type="email"]:focus {
  border: 1px solid #4b9200;
}
.footer input[type="email"]:focus + button {
  color: #4b9200;
  border: 1px solid #4b9200;
}
.footer input[type="email"]::placeholder {
  color: #bdbdbd;
}

.social-item {
  margin-bottom: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.social-link:hover p {
  color: #f9804b;
}

.social-link:hover .social-box {
  background-color: #f9804b;
}

.social-link:active p {
  color: #4b9200 !important;
}

.social-link:active .social-box {
  background-color: #4b9200;
}

.social-box {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(189, 189, 189, 0.5);
}

.feed {
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
  padding-top: 70px;
  padding-bottom: 100px;
}
.feed-box {
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-right: 60px;
  padding-left: 100px;
}
.feed-title {
  text-align: center;
  font-weight: normal;
  color: #f9804b;
  font-size: 48px;
}
.feed-subtitle {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 40px;
}
.feed-text-bold {
  margin-bottom: 10px;
}
.feed-text a {
  padding-bottom: 1px;
  border-bottom: 1px solid #f9804b;
}
.feed-second-title {
  text-align: center;
  font-weight: normal;
  font-size: 36px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.feed-list {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.feed-item {
  width: 168px;
}
.feed-img-box {
  background-color: #ffffff;
  width: 168px;
  height: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f9804b;
  margin-bottom: 30px;
}
.feed-item:not(:last-child) {
  position: relative;
  margin-right: 130px;
}
.feed-item:not(:last-child):after {
  position: absolute;
  top: 30%;
  right: -40%;
  transform: translateX(50%);
  content: url("../../assets/icons/next.svg");
}
.feed .btn {
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.testimonial {
  overflow: hidden;
  padding-top: 150px;
  padding-bottom: 180px;
  position: relative;
}

.testimonial__title {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 47px;
}
.testimonial__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
}
.testimonial__item {
  color: #767474;
  width: calc((1160px - 30px * 3) / 4);
  border-radius: 20px;
  padding: 15px;
  background-color: #f1f3f2;
  position: relative;
}
.testimonial__item::before {
  content: "";
  background-image: linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  border-radius: 20px;
  top: -2px;
  left: -2px;
  bottom: -2px;
  right: -2px;
  position: absolute;
  z-index: -1;
}
.testimonial__header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.testimonial__profile {
  margin-right: 10px;
  border-radius: 50%;
  width: 37px;
  height: 37px;
}
.testimonial__name {
  font-weight: normal;
  font-size: 16px;
  color: #000000;
}
.testimonial__location-date {
  color: #bdbdbd;
}
.testimonial__message {
  height: 310px;
  overflow-y: hidden;
  line-height: 120%;
}
.testimonial input[type="range"] {
  appearance: none;
  width: 600px;
  height: 8px;
  display: block;
  margin: 0 auto;
  background-color: #f1f3f2;
  border-radius: 5px;
  overflow-y: hidden;
}
.testimonial input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 115px;
  height: 8px;
  border-radius: 5px;
  background: #f9804b;
  cursor: pointer;
}
.testimonial .btn {
  margin-top: 30px;
}
